<header>
  <div id="header">
    <div id="menu">
      <button type="button" name="button">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
    </div>
    <div id="logo"></div>
    <div id="new-article">{{#link-to 'article'}}<button type="submit" >New article</button>{{/link-to}}</div>
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
